:root { 
--white_A700_87:#ffffff87; 
--black_900_87:#00000087; 
--white_A700_6c:#ffffff6c; 
--black_900:#000000; 
--blue_gray_50:#f1f1f1; 
--gray_900:#141414; 
--deep_orange_400_01:#d87c4a; 
--deep_orange_400:#d87d4a; 
--gray_200:#f0f0f0; 
--white_A700:#ffffff; 
--white_A700_9e:#ffffff9e; 
--gray_50:#fafafa; 
}